@{
    ViewData["Title"] = "Home Page";
    
}


<div class="text-center">
    <img style="width:25vw; padding-bottom:100px"  src="lib/wavytext/hello.gif" asp-append-version="true" alt="oops" />
    
</div>
<div class="text-light text-start" style=" justify-content:start; border-top:solid; border-color:ghostwhite; padding-top:75px; padding-bottom:0px;">
    <h2 style="padding-left:50px; padding-top:0px; padding-bottom:50px">Welcome to the new SomeoneEls Blog!</h2>
    <h4 style="display:inline; padding-left:100px">This is where I put my projects and</h4> 
    <h4 style="display:inline; padding-bottom:100px">
        <wavy>s</wavy><wavy style="animation-delay:.2s">t</wavy><wavy style="animation-delay:.4s">u</wavy><wavy style="animation-delay:.6s">f</wavy><wavy style="animation-delay:.8s">f</wavy><wavy style="animation-delay:1s">.</wavy>
    </h4>
    <h4 style="display:inline; padding-bottom:100px">  Enjoy your stay!</h4>
</div>
<div class="text-light text-start" style="justify-content:start; border-top:solid; border-top:solid border-color:ghostwhite; padding-top:75px; margin-top:100px">
    <h4 style="display:inline; background-color:none">Hi! My name is Natalie, and I do random stuff!</h4>
    <img style="display:inline; height:200px; width:200px; float:right; background-color:none" src="/lib/chaosmod_icon.png" asp-append-version="true" alt="oops" />
    <p style="padding-top:50px; background-color:none">You can see me most often on the Stardew Valley wiki! I don't play the game often though..</p>
    <p style="background-color:none; padding-bottom:200px; padding-top:0px;">This is an updated version of the orig site, since I wanted to show off my c# skills, &#40 eventually, &#41 but mostly as a better site</p>
</div>