@{
    ViewData["Title"] = "Projects";
    
}
<div class="text-light text-start" style=" justify-content:start; border-top:solid; border-bottom:solid; border-color:ghostwhite;">
    <h1 style="padding-left:100px; padding-top:50px">Projects</h1>
    <h4 style="padding-left:200px; padding-top:25px; padding-bottom:50px;">This is the projects page! Browse as you'd like!</h4>
 </div>
<div style=" border-color:ghostwhite; padding-bottom:100px">   
    <div style="margin-left:350px; display:inline-block">
    <h2 style="float:right; padding-left:50px; padding-top:50px">Chaosmod</h2>   
    <h3 style="padding-left:150px; padding-top:120px; padding-bottom:50px;">A mod for Stardew Valley</h3>
    <but style="margin-left:370px; text-decoration:none; padding-left:30px; padding-right:30px; font-size:18px">
        <a class="nav-link;" style="color:black" asp-area="" asp-controller="Project" asp-action="Chaosmod">View</a>
    </but>
    </div style="display:inline-block">
    <div style="float:left">
        <img style="height:200px; width:200px; top:-200px; background-color:none; display:block;" src="/lib/chaosmod_icon.png" asp-append-version="true" alt="oops" />
    </div>

 </div>
 <div style=" border-color:ghostwhite; padding-bottom:100px">   
    <div style="margin-left:300px; display:inline-block">
    <h2 style="float:right; padding-left:50px; padding-top:50px">MipsMap</h2>   
    <h3 style="padding-left:150px; padding-top:120px; padding-bottom:50px;">A graphics interface for mips</h3>
    <but style="margin-left:420px; text-decoration:none; padding-left:30px; padding-right:30px; font-size:18px">
        <a style="color:black" asp-area="" asp-controller="Project" asp-action="MipsMap">View</a>
    </but>
    </div style="display:inline-block">
    <div style="float:left">
        <img style="height:200px; width:200px; top:-200px; background-color:none; display:block;" src="/lib/pics/mipsmap.png" asp-append-version="true" alt="oops" />
    </div>

 </div>


 <div style=" border-bottom:solid; border-color:ghostwhite; padding-bottom:100px">   
    <div style="margin-left:300px; display:inline-block">
    <h2 style="float:right; padding-left:50px; padding-top:50px">SleeveColor</h2>   
    <h3 style="padding-left:220px; padding-top:120px; padding-bottom:50px;">A cool sleeve color mod</h3>
    <but style="margin-left:420px; text-decoration:none; padding-left:30px; padding-right:30px; font-size:18px">
        <a style="color:black" asp-area="" asp-controller="Project" asp-action="sleeveColor">View</a>
    </but>
    </div style="display:inline-block">
    <div style="float:left">
        <img style="height:200px; width:200px; top:-200px; background-color:none; display:block;" src="/lib/pics/SleeveCOlors3.png" asp-append-version="true" alt="oops" />
    </div>

 </div>

  

